.aircraft-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;
  background: white;
  border-radius: 8px;
  overflow: hidden;
}

.aircraft-table th,
.aircraft-table td {
  border: 1px solid #d6e9f8;
  padding: 10px;
}

.aircraft-table th {
  background: #bcd8f7;
  text-align: left;
}

.active {
  color: green;
  font-weight: bold;
}

.inactive {
  color: red;
  font-weight: bold;
}


