.airport-container {
  display: flex;
  gap: 20px;
}

.form-card, .table-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 12px;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

button {
  cursor: pointer;
}
.spinner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 20px;
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid rgba(0,0,0,0.1);
  border-top-color: #16a34a; /* zelena */
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}
