.admin-container {
  display: flex;
  height: 100vh;
  background: #f6faff;
}

.sidebar {
  width: 230px;
  background: #b8d8f3; /* pastelna plava */
  color: #1f2e40;
  padding: 20px;
  border-right: 2px solid #9fc2df;
}

.sidebar h3 {
  margin-bottom: 15px;
  font-weight: 600;
  color: #0f2a3d;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar nav a {
  color: #0f2a3d;
  text-decoration: none;
  padding: 10px;
  margin: 4px 0;
  border-radius: 6px;
  transition: 0.2s;
  font-size: 15px;
}

.sidebar nav a:hover,
.sidebar nav a.active {
  background: #d6e9f8; /* svjetlija hover nijansa */
  font-weight: bold;
}

.content {
  flex: 1;
  padding: 25px;
}



